:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:  #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
h4 {
  color: white;
}

.card-img{
  height: 200px;
  width: 200px;
}
.animal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animal-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.animal-card {
  /* Add any additional styling for each animal card */
  border: 2px solid white;
  margin: 10px;
}


.modal {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
  overflow-y: auto;
}

.modal li {
  list-style-type: none;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color:black;
}

tr:hover {
  background-color: #ddd; /* Highlight row on hover */
}




.keeper-modal-content{
  background-color: 'red';
  padding: '20px';
  border-radius: '5px';
  max-width:'600px';
  width: '90%';
  max-height: '90vh';
  overflow-y: 'auto';
}
.inputs-column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the space between inputs as needed */
}

.animal-details img,
.animal-details h2,
.animal-details ul {
  margin-bottom: 10px; /* Space underneath each element */
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center; /* Center buttons horizontally */
}

/* Additional styling for buttons */
.buttons-container button {
  padding: 8px 16px; /* Padding inside buttons */
  cursor: pointer; /* Cursor changes to pointer on hover */
  /* Add more button styling as needed */
}
.home-page li{
list-style-type: none;

}


.form-column {
  display: flex;
  flex-direction: column;
}